@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;margin-bottom:20px;margin-top:20px;font-size:30px">Register</h2>
<table align="center" style="margin-left:30%">
    @using (Html.BeginForm())
    {
        //dung moi ra dc form
        @Html.ValidationSummary(true)
    <tr style="height:50px">
        <td>
            Username:
        </td>
        <td>
            @Html.TextBox("Username")
            @ViewData["Error1"]
        </td>
        
    </tr>

    <tr style="height:50px">
        <td>
            Full Name:
        </td>
        <td>
            @Html.TextBox("FullName")
            @ViewData["Error1"]
        </td>
    </tr>
        <tr style="height:50px">
            <td>
                Email:
            </td>
            <td>
                @Html.TextBox("Email")
                @ViewData["Error2"]
            </td>
        </tr>
        <tr style="height:50px">
            <td>
                Password:
            </td>
            <td>
                @Html.Password("Password")
                @ViewData["Error3"]
            </td>
        </tr>
        <tr style="height:50px">
            <td>
                Address:
            </td>
            <td>
                @Html.TextBox("Address")
                @ViewData["Error4"]
            </td>
        </tr>

        <tr style="height:50px">
            <td>
                Phone:
            </td>
            <td>
                @Html.TextBox("Phone")
                @ViewData["Error5"]
            </td>

        </tr>

        <tr style="height:50px">
            <td>
            </td>
            <td>
                <input type="submit" value="Register" />
            </td>
        </tr>
    }
</table>

