@model FPTBOOK_1670_.Models.Account

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;margin-bottom:20px;margin-top:20px;font-size:30px">Register</h2>
<table align="center" style="margin-left:30%">
    @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
        //dung moi ra dc form
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <tr style="height:50px">
            <td>
                Username:
            </td>
            <td>
                @Html.TextBoxFor(model => model.Username, new { @required = "" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </td>

        </tr>

        <tr style="height:50px">
            <td>
                Full Name:
            </td>
            <td>
                @Html.TextBoxFor(model => model.Fullname, new { @required = "" })
                @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })

            </td>
        </tr>
        <tr style="height:50px">
            <td>
                Email:
            </td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { @required = "" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </td>
        </tr>
        <tr style="height:50px">
            <td>
                Password:
            </td>
            <td>
                @Html.PasswordFor(model => model.Password, new { @required = "" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr style="height:50px">
            <td>
                Confirm Password:
            </td>
            <td>
                @Html.PasswordFor(model => model.ConfirmPassword, new { @required = "" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr style="height:50px">
            <td>
                Address:
            </td>
            <td>
                @Html.TextBoxFor(model => model.Address, new { @required = "" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr style="height:50px">
            <td>
                Phone:
            </td>
            <td>
                @Html.TextBoxFor(model => model.Phone, new { @required = "" })

                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

            </td>

        </tr>

        <tr style="height:50px">
            <td>
            </td>
            <td>
                <input type="submit" value="Register" />
            </td>
        </tr>
    }
</table>

